Assets/Resources/config/process.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Process">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NodeGraph">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="Node">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PlayerTask">
											<xs:complexType>
												<xs:sequence>
													<xs:element minOccurs="0" maxOccurs="unbounded" name="Option">
														<xs:complexType>
															<xs:attribute name="id" type="xs:string" use="required" />
															<xs:attribute name="name" type="xs:string" use="required" />
														</xs:complexType>
													</xs:element>
													<xs:element minOccurs="0" name="GeneratedOptions">
														<xs:complexType>
															<xs:attribute name="source" type="xs:string" use="required" />
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="type" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
										<xs:element minOccurs="0" maxOccurs="unbounded" name="NextNode">
											<xs:complexType>
												<xs:attribute name="id" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="id" type="xs:string" use="required" />
									<xs:attribute name="name" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="startNode" type="xs:string" use="required" />
						<xs:attribute name="endNode" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="unbounded" name="Scenario">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Script">
								<xs:complexType>
									<xs:sequence>
										<xs:choice maxOccurs="unbounded">
											<xs:element name="Text" type="xs:string" />
											<xs:element name="Node">
												<xs:complexType>
													<xs:attribute name="id" type="xs:string" use="required" />
												</xs:complexType>
											</xs:element>
										</xs:choice>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="id" type="xs:string" use="required" />
						<xs:attribute name="name" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required" />
			<xs:attribute name="id" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>